<div class="page-header">
	<h1>Qui sommes-nous ?</h1>
</div>

<div class="container row">
	<p class="lead justify">
		Baobat est une entreprise de construction et de maçonnerie générale implantée à Montpellier. Notre champs d'intervention géographique couvre le département de l'Hérault, en Languedoc-Roussillon.
	</p>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">
			Nos Engagements <br />
			<small><i>Qualité - Coût - Délai</i></small>
		</h2>
		<p class="lead justify">
			Nous avons créé Baobat avec la certitude de pouvoir tenir au moins 3 engagements :
		</p>
		<p class="lead justify">
			Qualité : répondre soigneusement à vos besoins immédiats mais aussi couvrir les besoins futurs identifiables <br />
			Coût : maîtriser les coûts pour proposer des prix cohérents sans dégrader les conditions de travail, la qualité du livrable et le respect des délais <br />
			Délais : respecter les délais, c’est également respecter nos clients. Un retard de livraison est souvent à l’origine de surcoûts ultérieurs importants.
		</p>
	</div>
	<div class="col-md-5">
		<%= image_tag('baobat_montpellier_construction.jpg', class: "featurette-image img-responsive") %>
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-5">
		<%= image_tag('baobat_montpellier_construction.jpg', class: "featurette-image img-responsive") %>
	</div>
	<div class="col-md-7">
		<h2 class="featurette-heading">
			La Richesse de Baobat <br />
			<small><i>« Il n'est de richesse que d'Hommes »</i></small>
		</h2>
		<p class="lead justify">
			Nous avons réussi à créer une équipe pluridisciplinaire maitrisant la maçonnerie générale, l'électricité, la plomberie, la peinture, l'isolation, les cloisons et la pose de carrelage. Notre vraie richesse ce sont ces hommes qui bâtissent à la fois vos projets et celui de Baobat.
		</p>
		<p class="lead justify">
			Nous sommes rigoureux et exigeants lors de nos recrutements autant que nous nous engageons auprès de nos salariés. Sécurité, politique de prévention, formation et intéressement constituent une base solide pour des relations durables.
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">
			L'Équipe Dirigeante <br />
			<small><i>Qualité - Coût - Délais</i></small>
		</h2>
		<p class="lead justify">
			L'équipe dirigeante regroupe des profils variés et expérimentés qui ont fait leurs armes dans les plus grandes entreprises de constructions - chez "les nationaux", comme on dit dans notre jargon -.
		</p>
		<p class="lead justify">
			Youssef, directeur financier dans une entreprise de construction et passionné par les métiers du bâtiment, il est devenu maitre de la gestion de chantiers : amélioration des coûts, organisation des travaux, conseils et optimisation de votre enveloppe budgétaire. Dirigeant fondateur de Baobat, Il est le responsable en chef des travaux que nous effectuons.
		</p>
		<p class="lead justify">
			Diplômé d'une grande école de commerce, spécialisé en management de projet, Reda gère l'Espace Client et insuffle une touche de marketing. Le reste du temps, il apporte ses compétences pour la planification et l'organisation des tâches.
		</p>
	</div>
	<div class="col-md-5">
		<%= image_tag('baobat_montpellier_construction.jpg', class: "featurette-image img-responsive") %>
	</div>
</div>