<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/350x200" alt="...">
      <div class="caption">
        <h3>Petits travaux</h3>
        <p>
          Baobat intervient à Montpellier et aux alentours pour vos travaux de maçonnerie générale, d'électricité, de plomberie, de peinture, d'isolation, de cloisons ou de carrelage. Faites le choix d'une équipe professionnelle, compétente et à votre écoute, utilisant des matériaux de qualités et des outils adaptés aux différentes situations. Pour Baobat, il n'y a pas de petits travaux mais uniquement le soucis du travail bien fait.
        </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/350x200" alt="...">
      <div class="caption">
        <h3>Rénovations</h3>
        <p>
          La rénovation requiert des compétences pluridisciplinaires et une méthodologie rigoureuse. Fort de 15 années d'expériences, Baobat saura vous faire gagner du temps et vous aidera à maitriser votre budget. Qu'il s'agisse de rénover un appartement, une maison ou simplement votre salle de bains ou votre cuisine, nous mobiliserons toute notre expertise pour que votre projet voit le jour dans les meilleures conditions.
        </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/350x200" alt="...">
      <div class="caption">
        <h3>Maisons individuelles</h3>
        <p>
          De la construction de piscines à la construction de maisons individuelles, Baobat réunit les meilleurs savoir-faire du bâtiment pour fournir des prestations de qualité, dans les délais fixés et dans le cadre du budget que vous souhaitez allouer. Pour les chantiers les plus techniques, une étude de sol et/ou une validation par un ingénieur structure sont réalisées préalablement au démarrage des travaux pour garantir un résultat pérenne.
        </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>