// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects {

  p {
  	margin: 4px 0px;
  	text-align: justify;
  	word-wrap:break-word;
  }

  .panel-footer {
    background-color: #ffffff;
    color: #dddddd;
  }
}

.panel-body p {
  max-length: 20;
}

.panel-title .label {
  font-size: 80%;
  font-weight: normal;
}

.compteur {
  font-size: 16px;
  font-weight: normal;
  color: #999999;
  line-height: 1;
  margin-top: 20px;
}