<div id="footer">
  <div class="container">
    <div class="col-md-4">
      <h6>BAOBÂT</h6>
      <ul>
        <li>Qui sommes-nous ?</li>
        <li>Nos engagements</li>
        <li>L'équipe</li>
        <li>L'espace Client</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h6>CONTACT</h6>
      <p>Polynice C61<br>195, bd de l'aéroport international<br>34000 MONTPELLIER</p>
      <p>contact@baobat.com</p>
    </div>
    <div class="col-md-4">
      zfleznfkejrn
    </div>
  </div>
</diV>